extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Martin Clason

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have a network background but have found myself increasingly interested in development and Javascript in particular! I found that the most enjoyable part of my job was when I had the  
            | opportunity to code. My experience started by building phone tree apps with Cisco's UCCX script editor, and grew with the arrival of Cisco's JS heavy Finesse.
            | I started using Treehouse to increase my ability to create custom experiences with Cisco Finesse and have found I love Javascript, and finding solutions to tricky problems!
            | I am looking forward to starting my first job as a full time developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node JS
          li CSS
          li HTML
          li XML 
          li JQuery
          li JavaScript
          li Routing and Switching
          li Telephony
          li Cabling
        h6 Contact Info

        ul
          li 616-238-9368
          li martinclason123@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/martin-clason-422516ab/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/martinclason123' target="_blank") GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  