extends layout

block content
   nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
    h1 #{message} (#{error.status}) 
    h6#seestack See Error Stack
    p#errorstack= error.stack
    img.thumbnail#404img(src="/static/images/500error.jpg") 
    a(href='/') ← Back

    script(src='/static/js/vendor/jquery.js')
    script(src='/static/js/error.js')
    