extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 My Work so Far

      p.lead.text-light
        | A portfolio of the projects I have completed while learning JavaScript, from earliest to latest. 
  article.grid-container.portfolio-index.projGallery
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
  
      // loops through the JSON objects and adds the data to the page 
      each val, index in project
        .cell.projGallery
         a(href= val.page_link)
            img.thumbnail(src= val.landing_image)
            h5= val.project_name
            


      
