@import url("https://db.onlinewebfonts.com/c/335787aa6f57d71cabe8eb5dc89c6d6b?family=Blender+Pro");

.projGallery img {
	box-shadow: -5px -5px 10px #888888;
	transition: all 0.2s linear;
}

.projGallery img:hover,
.projGallery img:focus {
	box-shadow: -5px -5px 10px black;
	font-weight: bold;
}

.projGallery :hover {
	font-weight: bold;
}

.projGallery h5 {
	font-family: "Blender Pro", sans-serif;
}
